body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #D3DF81;
}

.quem-somos {
    background-color: #DEFFE2;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #C7F0FA;
}

.bg-footer {
    background-color: black;
    color: white;
}